<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{>nav}}
      <h2 class="normal-heading">Prediction</h2>
      {{>message}}
      <form action="prediction" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Budget</label>
            <input name="budget" type="number" min="100000" class="form-control" placeholder="Enter the budget of the movie" required>
          </div>
          <div class="form-group col-md-6">
            <label >Director</label>
            <input name="director" type="text" class="form-control" placeholder="Enter the director of the movie">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Cast1</label>
            <input name="cast1" type="text" class="form-control" placeholder="Enter the Cast" required>
          </div>
          <div class="form-group col-md-6">
            <label>Cast2</label>
            <input name="cast1" type="text" class="form-control" placeholder="Option">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Cast3</label>
            <input name="cast3" type="text" class="form-control" placeholder="Option">
          </div>
          <div class="form-group col-md-4">
            <label>Cast4</label>
            <input name="cast4" type="text" class="form-control" placeholder="Option">
          </div>
          <div class="form-group col-md-4">
            <label>Cast5</label>
            <input name="cast5" type="text" class="form-control" placeholder="Option">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Length (mins)</label>
            <input name="length" type="number" min="0" max="200" class="form-control" placeholder="Enter the length of the movie" required>
          </div>
          <div class="form-group col-md-6">
            <label>Release Month</label>
            <input name="month" type="number" min="1" max="12" class="form-control" placeholder="Enter the release month of the movie" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input name="english" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck">
              Is it in English
            </label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {{>footer}}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>