  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{>nav}}
          <h2 class="normal-heading">Prediction</h2>
            {{>message}}
            <form action="prediction" method="POST">
              <div class="col mt-4">
                    <label class="input-label">Budget</label>
                    <input name="budget" type="number" min="0" class="input-field mr-auto" placeholder="Enter the budget of the movie" required>
              </div>
              <div class="row">
                  <div class="col mt-4">
                    <label class="input-label" style="margin-left:5%;">Cast1</label>                    
                    <input name="cast1" type="text" class="input-field ml-auto" placeholder="Enter the Cast">
                  </div>
                  <div class="col mt-4">
                    <label class="input-label" style="margin-right:%;">Cast2</label>                    
                    <input name="cast2" type="text" class="input-field ml-auto" placeholder="Option">
                  </div>
              </div>
              <div class="row">
                  <div class="col mt-4">
                    <label class="input-label" style="margin-left:7.5%;">Cast3</label>                    
                    <input name="cast3" type="text" class="input-field ml-auto" placeholder="Option">
                  </div>
                  <div class="col mt-4">
                    <label class="input-label" style="margin-right:%;">Cast4</label>                    
                    <input name="cast4" type="text" class="input-field ml-auto" placeholder="Option">
                  </div>
                  <div class="col mt-4">
                    <label class="input-label" style="margin-left:%;">Cast5</label>                    
                    <input name="cast5" type="text" class="input-field ml-auto" placeholder="Option">
                  </div>                  
              </div>                             
              <div class="col mt-4">
                <label class="input-label" style="margin-right:5%;">Length</label>
                <input name="length" type="number" min="0" max="200" class="input-field ml-auto" placeholder="Enter the length of the movie" required>
              </div>
              <div class="col mt-4">
                <label class="input-label" style="margin-right:2%;">Release Month</label>
                <input name="month" type="number" min="0" max="12" class="input-field ml-auto" placeholder="Enter the release date of the movie" required>
              </div>
              <div class="col mt-4">
                <label class="input-label" style="margin-right:2%;">Is it in English</label>
                <input name="english" type="checkbox" class="input-field ml-auto" placeholder="Enter the release date of the movie" required>
              </div>              
              <button type="submit" class="btn btn-outline-primary mt-4 float-right">Submit</button>
            </form>
        {{>footer}}
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>