<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{>nav}}
    <h2 class="normal-heading">Result</h2>
      <div class="card text-center">
        <div class="card-header display-4 bg-dark">
        Venom
        </div>
      <div class="card-body" style="background-color:#005b96 ">
        <p class="card-text">The Revenue will be {{user}}</p>
      </div>
    </div>
    <br>
    <h2 class="normal-heading">Similar Movies</h2>
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <div class="card text-center">
            <div class="card-header bg-dark">
              Venom
            </div>
            <div class="card-body" style="background-color:#005b96 ">
              <p class="card-text">The Revenue will be $5,000,000</p>
            </div>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card text-center">
                <div class="card-header  bg-dark">
                  SpiderMan
                </div>
                <div class="card-body" style="background-color:#005b96 ">
                  <p class="card-text">The Revenue is $5,000,000</p>
                </div>
              </div>
            </div>

        <div class="card" style="width: 18rem;">
            <div class="card text-center">
                <div class="card-header  bg-dark">
                  Night School
                </div>
                <div class="card-body" style="background-color:#005b96 ">
                  <p class="card-text">The Revenue is $5,000,000</p>
                </div>
              </div>
            </div>
      </div>
      {{>footer}}
  </div>
</body>