{{#if error_message}}
<div class="alert alert-danger" id="error-alert" href="javascript:;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{error_message}}
</div>
{{/if}}