<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand"><i class="fas fa-film"></i> Movie Paradise </h3>
        <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/login">Login </a>
        <a class="nav-link" href="/">Sign Up</a>
        <a class="nav-link" id="prediction" href="/prediction">Prediction</a>
        <a class="nav-link" id="prediction" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </nav>
    </div>
</header>